<div class="category">
    <label class="radio-button">
      <input type="radio" name="options" value="office" checked>
      <span class="checkmark"></span>
      <span class="label-text">Office</span>
    </label>
  </div>
  <div class="category">
    <label class="radio-button">
      <input type="radio" name="options" value="gamer">
      <span class="checkmark"></span>
      <span class="label-text">Gamer</span>
    </label>
  </div>
  <div class="category">
    <label class="radio-button">
      <input type="radio" name="options" value="home">
      <span class="checkmark"></span>
      <span class="label-text">Home</span>
    </label>
  </div>
  <div class="category">
    <label class="radio-button">
      <input type="radio" name="options" value="video">
      <span class="checkmark"></span>
      <span class="label-text">Video</span>
    </label>
  </div>
  <div class="category">
    <label class="radio-button">
      <input type="radio" name="options" value="graphics">
      <span class="checkmark"></span>
      <span class="label-text">Graphics</span>
    </label>
  </div>
  