footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }

  .contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}