<footer>
    <p>Livraison et retour gratuits</p>
    <div class="contact-info">
            <div>
                <h3>CONTACTEZ-NOUS</h3>
                <p>  Email: contactpowerpoint&#64;gmail.com</p>
                <p> Téléphone: +33 5 74 14 20 55</p>
            </div>
            <div>
                <h3>Adresse</h3>
                <p>Musée du Louvre, Paris</p>
                <p>Code Postal: 75001</p>
            </div>
        </div>
        <div class="social-links">
            <h3>SUIVEZ-NOUS</h3>
            <a href="https://www.facebook.com/" target="_blank">
            <img src="./assets/images/facebook.png" alt="Facebook" width="50" height="50"></a>

            <a href="https://twitter.com/" target="_blank">            
            <img src="./assets/images/twitter.png" alt="Twitter" width="50" height="50"></a>

            <a href="https://www.instagram.com/" target="_blank">            
            <img src="./assets/images/instagram.png" alt="Instagram" width="50" height="50"></a>

        </div>
  </footer>