<footer>
    <p>Merci de confirmer votre présence avant le 09 Avril 2024.</p>
    <div class="contact-info">
            <div>
                <h3>Contact</h3>
                <p>  Email: ericagbanglanon4&#64;gmail.com</p>
                <p> Téléphone: +33 6 19 69 77 38</p>
            </div>
            <div>
                <h3>Adresse</h3>
                <p>16 Boulevard Charles Nicolle, LEMANS</p>
                <p>Code Postal: 72000</p>
            </div>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/" target="_blank">
            <img src="./assets/images/facebook.png" alt="Facebook" width="50" height="50"></a>

            <a href="https://twitter.com/" target="_blank">            
            <img src="./assets/images/twitter.png" alt="Twitter" width="50" height="50"></a>

            <a href="https://www.instagram.com/" target="_blank">            
            <img src="./assets/images/instagram.png" alt="Instagram" width="50" height="50"></a>

        </div>
  </footer>