.choix-basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; /* Définissez la largeur souhaitée pour votre bouton */
    height: 50px; /* Définissez la hauteur souhaitée pour votre bouton */
    border-radius: 5px; /* Ajoutez un rayon de bordure pour le style */
    background-color: black; 
    color: white;
    margin: auto;
    margin-top: 100px;


}