<div class="filter-div">
    <h2>Filtres</h2>
    <form>
        
        <select id="category" class="filter-select">
            <option value="">SSD</option>
        </select>

        <select id="category" class="filter-select">
            <option value="">HDD</option>
        </select>

        <select id="category" class="filter-select">
            <option value="">Carte graphique</option>
        </select>

        <select id="category" class="filter-select">
            <option value="">Processeur</option>
        </select>

        <select id="category" class="filter-select">
            <option value="">RAM</option>
        </select>

        <select id="category" class="filter-select">
            <option value="">Windows</option>
        </select>
        
    </form>
</div>