<mat-card class="product_card">
    <div class="row">
        <img mat-card-image src="https://img-4.linternaute.com/1znKXjiK4DcdsqEgpnOJxi3AWCA=/1500x/smart/d7ed506e36164b408e98cb749331892e/ccmcms-linternaute/41890510.jpg" alt="Product Image">
        <mat-card-header class="coll">
            <mat-card-title>Product Title</mat-card-title>
            <mat-card-subtitle>Product Subtitle</mat-card-subtitle>
            <mat-card-content>
                <p>Description of the product goes here.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Buy Now</button>
            </mat-card-actions>
        </mat-card-header>
        
    </div>
          
    
    
    
</mat-card>
